html, body, .content {
    height: 100vh;
}
.btn-primary {
    background-color: $green;
    border-color: $green;
}
.hide {
    display: none;
}
#content {
    margin-top: 25px;
}
#weather-block {
    margin-top: 25px;
}